html {
    height: 62.5%;
}


h1{
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    color: white;
    padding: 0.1rem;
    margin: 0.1rem;
    margin-bottom: 1.5rem;
}

p, ul, li{
    color: rgb(255, 255, 255);
}

a{
    font-size: 2rem;
    text-decoration: none;
    color: #ffcc00;
    padding: 0.5rem;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("TelaCredito.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    height: 10rem;
}

.container {
    width: 90%;
    max-width: 60rem;
    background: rgba(0, 0, 0, 0.222);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(35, 5, 5, 0.2);
}

.credit-section {
    margin-bottom: 1.5rem;
}

.credit-section h2 {
    font-size: 1.8rem;
    color: #ffcc00;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

.img-wpp {
    padding: -10rem;
    width: 4rem;
}

.back-button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 10px 20px;
    background: #ffcc00;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.back-button:hover {
    background: #ffaa00;
}