html {
    height: 62.5%;
}


h1{
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 5rem;
    font-style: normal;
    color: white;
    padding: 0.1rem;
    margin: 0.1rem;
}


h2{
    color: rgb(55, 227, 7);
}

p, ul, li{
    color: rgb(255, 255, 255);
}

a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    padding: 0.3rem;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("Tela\ Credito.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    height: 10rem;
}


.img-wpp {
    padding: -10rem;
    width: 4rem;
}

.glow-on-hover {
    width: 22rem;
    height: 5rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border-radius: 1rem;
    font-weight: bold;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -0.2rem;
    left:-0.2rem;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.5rem);
    width: calc(100% + 0.4rem);
    height: calc(100% + 0.4rem);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1rem;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: white;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -2;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 1rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
